
*{
    font-family: 'Open Sans', sans-serif;
}
.banner-img{
    margin:0;
    padding:0;
    height:90vh;

}
 .banner-image{
    width:100%;
    height:90vh; 
    object-fit:cover;
    opacity:0.8;
    
    

} 
.heading{
    z-index:3;
    position:relative;
    bottom:30rem;
    right:5rem;
    left:3rem;
    font-size:50px;
    font-weight:600px;
    
}

.register-btn{
    background-color:tomato;
    text-decoration:none;
    color:white;
    border-radius:10px;
    padding:20px;
    font-size:20px;
    
}
.register-btn:hover{
    color:white;
   
}

.register-btn:hover span:after{
    color:white;
    opacity:1;
    right:0;
    
}
.register-btn span:after{
    content:' \00bb';
    font-size:30px;
    opacity:0;
    position:relative;
    right:-20px;
    transition:0.5s;
   
   
}
/*  section2 */
.sub-heading{
    font-size:40px;
    color:blue;
    font-weight:700;
}
.container{
    
    margin-top:40px;
}
.content{
    font-size:25px;
}
